.ss{
    height:300px;
    width:300px;
    margin:0px 0px 10px 600px;
    background-image: url(./Albert_Einstein_1947.jpg);
    background-size: cover;
    align-content: left;
}
.sss{
    margin:45px;
    padding-top:260px;
    color:rgb(1, 244, 253);
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
}
.s1{
    color:blue
}
.s2{
    color:blue
}
.s3{
    color:blue
}
.s4{  
      color:blue
}
.s5{
    color:blue
}
.s6{
    color:blue
}
.s7{ 
    background-color: rgb(156, 252, 122);
    color:rgba(13, 168, 246, 0.952)
}
.s8{
    color:blue
}
.s9{
    color:blue
}
.s10{
    color:blue
}
.s11{
    color:blue
}
.s12{
    color:blue
}
.s13{
    color:blue
}
.s14{
    color:blue
}
.s15{
    color:blue
}

